.register-card {
  width: 450px;
  padding: 50px;
  background: rgba(255,255,255,0.15);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow:
    0 8px 20px rgba(0,0,0,0.2);
}

.register-card:hover{
  transform:
    translateY(-8px)
    scale(1.02);
  box-shadow:
    0 20px 40px rgba(0,0,0,0.35);
}

h1 {
  text-align: center;
}

input {
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #70838A;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

span {
  color: white;
  cursor: pointer;
}