.finance-card {
  width: 90%;
  max-width: 1200px;
  padding: 40px;
  border-radius: 25px;
  background:rgba(255, 255, 255, 0.80);
  color: #2C3735;
  box-shadow:
    0 10px 30px rgba(0,0,0,0.25);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.finance-card:hover {
  transform:
    translateY(-6px);
  box-shadow:
    0 18px 40px rgba(0,0,0,0.35);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(255,255,255,0.25);
  overflow: hidden;
  border-radius: 20px;
}

thead {
  background-color:
    rgba(255,255,255,0.70);
}

th {
  padding: 18px;
  text-align: left;
  font-size: 18px;
  border: 1px solid rgba(255,255,255,0.25);
}

td {
  padding: 16px;
  border: 3px solid rgba(255,255,255,0.25);
}

tbody tr {
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

tbody tr:hover {
  background: rgba(44, 55, 53, 0.15);
}

/* ---------- RESPONSIVE ---------- */
@media screen and (max-width:768px){
  .finance-card{
    width:95%;
    padding:20px;
    overflow-x:auto;
  }
  table{
    min-width:700px;
  }
}